node_modules
*.swp
*.log
*.log.*
dist
public/uploaded_files/
server/config/config.js
package-lock.json
server/config/util.js
.env
.audit.json
server/logs/*
deploy/legably_deploy
.DS_Store
package-lock.json
