/* variable - a name given to a memory location that can hold value which may vary */

// open_sans family
$font1: 'open_sansregular';
$font2: 'open_sansbold';
$font3: 'open_sanssemibold';
// montser family
$font4: 'montserratregular';
$font5: 'montserratbold';
$font6: 'montserratmedium';
$font7: 'montserratlight';


// primary, secondary, tertiary, quaternary, quinary, senary, septenary, octonary, nonary,  decenary = 10
$clr-primary: #ffffff;
$clr-secondary: #3270b2;
$clr-tertiary: #666666;
$clr-quaternary: #d4d9e2;
$clr-quinary: #333333;
$clr-senary: #999999;
$clr-septenary: #2c2c2d;
$clr-octonary: #cccccc;
$clr-nonary: #f9c82d;
$clr-decenary: #efefef;


// mono = 1, di = 2, tri = 3, tetra = 4, penta = 5 , hexa = 6, hepta = 7, octa = 8, ennea = 9, deca = 10
$clr-mono: #f6f8fb;
$clr-di: #000000;
$clr-tri: #e1e1e2;

$clr-alert: #3c763d;
$clr-alert-danger: #a94442;

$bg-secondary: #eef2f6; // 6
$bg-tertiary: #013759;  // 6

$clr-error: #e53935;

// below is iteration count for specific colors
// #ffffff; - 58
// #3270b2; - 55
// #666666; - 42
// #d4d9e2; - 26
// #333333; - 24
// #999999; - 14
// #2c2c2d; - 12
// #cccccc; - 12
// #f9c82d; - 8
// #efefef; - 7
// #f6f8fb; - 7
// #e1e1e2; - 9
// #000000; - 5

// #4a90e2; - 3
// #0099ec; - 2
// #d8d8d8; - 1
// #3370b2; - 1
// #a2a2a2; - 1
// #173361; - 2
// #f8f7ff; - 1
// #555555; - 2
// #909294; - 1
// #F1F3F5; - 2
// #dddddd; - 3
// #aeaeae; - 2
// #d5dce4; - 2
// #596377; - 1
// #202020; - 1
// #2768aa; - 1
// #eef6fe; - 2
// #e5f3ff; - 1
// #969696; - 1
// #ed5e68; - 1
// #979797; - 1
